@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
    font-family: Quicksand, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #E2E8F0;
}

main {
    background: #111827;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin: 4rem auto;
    padding: 2.75rem;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: normal;
    color: #efeaea;
}

h2 {
    color: #47a;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

h3 {
    color: #f0ecec;
    font-size: 1.25rem;
    margin-top: 0rem;
    margin: 0;
    font-weight: normal;
}

h3 span.dept {
    color: #aaa;
}

h3 span.dept::before {
    content: "";
    border-left: 1px solid #ccc;
    padding-left: 0.4rem;
}

h4 {
    margin: 0;
    font-weight: normal;
}

h4 span.dates {
    color: #888;
    display: inline-block;
    float: right;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

a {
    color: #369;
}

a:hover {
    color: #36c;
}

time {
    display: inline-block;
    min-width: 2rem;
}

address {
    font-style: normal;
}

.normal {
    font-weight: normal;
}

.position {
    margin-top: 0.75rem;
    transition: opacity 0.7s;
}

.no-bullets,
.no-bullets ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: #f8f5f5;
    font-weight: bold;
}

.no-bullets ul {
    font-weight: normal;
}

.no-bullets span {
    color: #666;
}

#contact {
    text-align: right;
    font-size: 0.9rem;
}

#phone {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none !important;
}

#location {
    font-size: 1.1rem;
}

#languages {
    column-count: 3;
}

a,
a:visited,
a:link,
a:active,
a:focus,
#languages label {
    color: #395;
}

#professional-experience {
    position: relative;
}

main input {
    position: absolute;
    left: -10000px;
}

.educert {
    display: flex;
}

.educert li {
    flex: 1;
    align-items: start;
    justify-content: start;
}

#html:not(:checked)~div [for="html"]::before,
#javascript:not(:checked)~div [for="javascript"]::before,
#css:not(:checked)~div [for="css"]::before,
#kotlin:not(:checked)~div [for="kotlin"]::before,
#java:not(:checked)~div [for="java"]::before,
#csharp:not(:checked)~div [for="csharp"]::before,
#php:not(:checked)~div [for="php"]::before,
#sql:not(:checked)~div [for="sql"]::before,
#sqlserver:not(:checked)~div [for="sqlserver"]::before,
#mysql:not(:checked)~div [for="mysql"]::before,
#reactjs:not(:checked)~div [for="reactjs"]::before,
#aem:not(:checked)~div [for="aem"]::before,
#cq5:not(:checked)~div [for="cq5"]::before,
#seo:not(:checked)~div [for="seo"]::before,
#a11y:not(:checked)~div [for="a11y"]::before,
#sass:not(:checked)~div [for="sass"]::before,
#less:not(:checked)~div [for="less"]::before,
#api:not(:checked)~div [for="api"]::before,
#mobile:not(:checked)~div [for="mobile"]::before,
#jquery:not(:checked)~div [for="jquery"]::before {
    content: "\2610 ";
    font-size: 1.2rem;
    color: #aaa;
    font-weight: bold;
}

#html:checked~div [for="html"]::before,
#javascript:checked~div [for="javascript"]::before,
#css:checked~div [for="css"]::before,
#kotlin:checked~div [for="kotlin"]::before,
#java:checked~div [for="java"]::before,
#csharp:checked~div [for="csharp"]::before,
#php:checked~div [for="php"]::before,
#sql:checked~div [for="sql"]::before,
#sqlserver:checked~div [for="sqlserver"]::before,
#mysql:checked~div [for="mysql"]::before,
#reactjs:checked~div [for="reactjs"]::before,
#aem:checked~div [for="aem"]::before,
#cq5:checked~div [for="cq5"]::before,
#seo:checked~div [for="seo"]::before,
#a11y:checked~div [for="a11y"]::before,
#sass:checked~div [for="sass"]::before,
#less:checked~div [for="less"]::before,
#mobile:checked~div [for="mobile"]::before,
#api:checked~div [for="api"]::before,
#jquery:checked~div [for="jquery"]::before {
    content: "\2611 ";
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}

#filters {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#filters>ul {
    list-style: none;
    padding-left: 0;
    margin: -0.5rem;
    padding: 0.5rem;
}

#filters>ul>li>h3 {
    margin: 0;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
    color: #395;
    text-transform: uppercase;
}

#filters>ul>li>h3::before {
    content: "\2610 ";
    font-size: 1.2rem;
}

input:checked~div #filters>ul>li>h3::before {
    content: "\2611 ";
}

#filters>ul:hover {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#filters>ul:hover ul {
    list-style: none;
    padding-left: 0;
    display: block;
    column-count: 4;
}

#filters>ul>li>ul {
    position: relative;
    top: 0;
    right: 0;
    display: none;
    padding: 1rem;
}

label {
    cursor: pointer;
}

input:checked~div section.position,
input:checked~div #languages label {
    opacity: 0.25;
}

#html:checked~div .position.html,
#javascript:checked~div .position.javascript,
#css:checked~div .position.css,
#kotlin:checked~div .position.kotlin,
#java:checked~div .position.java,
#csharp:checked~div .position.csharp,
#php:checked~div .position.php,
#sql:checked~div .position.sql,
#sqlserver:checked~div .position.sqlserver,
#mysql:checked~div .position.mysql,
#reactjs:checked~div .position.reactjs,
#seo:checked~div .position.seo,
#aem:checked~div .position.aem,
#cq5:checked~div .position.cq5,
#a11y:checked~div .position.a11y,
#sass:checked~div .position.sass,
#less:checked~div .position.less,
#mobile:checked~div .position.mobile,
#api:checked~div .position.api,
#jquery:checked~div .position.jquery,
#html:checked~div #languages [for="html"],
#javascript:checked~div #languages [for="javascript"],
#css:checked~div #languages [for="css"],
#kotlin:checked~div #languages [for="kotlin"],
#java:checked~div #languages [for="java"],
#csharp:checked~div #languages [for="csharp"],
#php:checked~div #languages [for="php"],
#sql:checked~div #languages [for="sql"] {
    opacity: 1;
}

#contact-mini {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

#contact-mini>div {
    font-size: 0.75rem;
    flex: 1;
}

#contact-mini>div:nth-child(2) {
    text-align: center;
    flex: 2;
}

#contact-mini>div:last-child {
    text-align: right;
}

input:checked~div #languages label[for]::before,
input:not(:checked)~div #languages label[for]::before {
    content: "";
}

#contact {
    display: none;
}

@media all and (min-width: 630px) {
    main {
        max-width: 600px;
    }

    #contact-mini>div {
        font-size: 1rem;
    }
}

@media all and (min-width: 1000px) {

    html,
    body {
        font-size: 16px;
    }

    main {
        max-width: 920px;
        display: flex;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 28%;
    }

    main>div:first-child {
        flex: 1;
    }

    main>div:last-child {
        margin-left: 2%;
    }

    #languages {
        column-count: 2;
    }

    .educert {
        display: block;
    }

    .educert>li:nth-child(n + 2) {
        margin-top: 0.75rem;
    }

    #contact-mini {
        display: none;
    }

    #contact {
        display: block;
    }

    #email,
    #website {
        font-size: 0.9em;
    }
}

@media all and (min-width: 1200px) {

    html,
    body {
        font-size: 18px;
    }

    main {
        max-width: 1120px;
    }

    #email,
    #website {
        font-size: 1em !important;
    }
}

@media print {
    @page {
        size: 900px;
    }

    html,
    body {
        background: #fff;
        font-size: 16px;
        width: 900px;
    }

    a,
    a:visited,
    a:link,
    a:active,
    a:focus,
    #languages label {
        text-decoration: none;
        color: #000;
    }

    main {
        margin: 0;
        max-width: 920px;
        display: flex;
        box-shadow: none;
    }

    main>div:first-child {
        flex: 1;
    }

    main>div:last-child {
        width: 21%;
        margin-left: 4%;
    }

    #filters {
        display: none;
    }

    #languages {
        column-count: 2;
    }

    .educert {
        display: block;
    }

    .educert>li:nth-child(n + 2) {
        margin-top: 0.75rem;
    }

    .position {
        opacity: 1 !important;
    }

    #contact-mini {
        display: none;
    }

    #contact {
        display: block;
    }
}